.df-carousel.my-class {
    width: 800px;
    height: 600px;
}

.df-carousel.my-class .df-carousel-transition {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

@media screen and (max-width: 780px) {
    .df-carousel.my-class {
        width: 600px;
        height: 400px;
    }
}
